# dependencies
node_modules/

# env files (IMPORTANT 🔥)
.env
.env.*
client/.env*
server/.env*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build files
build/
dist/

# OS files
.DS_Store
Thumbs.db